* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 350px;
}
.wrapper {
  padding: 16px;
  overflow: hidden;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.left-side {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.right-side {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.items-on-left,
.items-on-right {
  position: relative;
}
 
.rating-content {
  position: absolute;
  top: 0;
  padding: 10px;
}
.star-rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 14px;
  width: 50px;
  padding: 2px;
}
.star-rating-container p {
  color: #e36d24;
  margin: 0 auto;
}

.city-landmark {
    position: absolute;
    padding: 10px;
    bottom: 0px;
}

.city-landmark h2,
p {
  color: rgb(255, 255, 255);
}
.rotate {
  transform: scaleX(-1);
}

@media (min-width: 641px) and (max-width: 1023px) {
  .container {
    max-width: 700px;
  }
  .wrapper {
    margin-top: 10px;
  }
  .left-side {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: repeat(2, 200px);
  }
  .large {
    grid-column: 2 /3;
    grid-row: 1/3;
  }
  .right-side {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: repeat(2, 250px);
  }
  .rome {
    grid-column: 1 /3;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .container {
    max-width: 1000px;
  }
  .wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
  .left-side {
    gap: 16px;
    grid-column: 1 / 8;
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 250px 250px;
  }
  .right-side {
    gap: 16px;
    margin-top: 0;
    grid-column: 8 / 13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
  }
  .london {
    grid-column: 1/2;
    grid-row: 1;
  }
  .pisa {
    grid-column: 2 / 2;
    grid-row: 1/ 3;
  }
  .paris {
    grid-column: 4 / span 5;
    grid-row: 1 / span 2;
  }
  .rome {
    grid-column: 1 / 4;
  }
  .sydney {
    grid-column: 2 / 4;
    grid-row: 2 / 2;
  }
}
